

$background0 :  "../media/concrete_seamless.png";
$background1 : "../media/cheap_diagonal_fabric_mirrored.png";
$background2 : "../media/cheap_diagonal_fabric.png";
$background3 : "../media/spirationdark.png";
$background4 : "../media/whitewall.png";

$corkColor1:#666666;
$corkColor2:#996666;


.CodeMirror 
{
	font-size:14px;	
	height: 800px;
}

h6
{
	color:blue;
}



.mainmodcontainer
{
	width : 100%;
	height : 92%;
	display : flex;
	background : url($background0);
	.leftmodcontainer
	{
		width:35%;
		height:100%;
		padding-left:10px;
		padding-right:10px;
		overflow-x:scroll;
	}
	.rightmodcontainer
	{
		background : url($background3);
		border-left : 1px solid grey;
		border-top : 1px solid grey;
		border-radius : 10px 0px 0px 0px;
		padding : 5px;
		width:65%;
		height:100%;
		textarea
		{
			color: white;
			width: 100%;
			height: 100%;
		}
		h1, h2, h3, h4
		{
			text-align:center;
			color:#EEEEEE;
		}
		p[contenteditable] 
		{
		  	background : url($background4);
		  	color:black;
			font-size:20px;
		  	outline: none;
		  	height: 94%;
		  	padding : 5px;
		}

	}
}

.mymodal .modal-dialog
{
		  
  width:90%;
  height:500px;
  padding:0px;
  
}
.modal-backdrop{display:none;}
.modal-content{border:0px;}
.modal-body{overflow-x:scroll;}



#mynavbar
{
	display:flex;
	background:url($background0);
	padding : 5px;
	height : 8%;
	label
	{
		text-align:center;
	}

		.navBarLeft
		{
		position:relative;	
		width:39%;

		.navItem
			{
				position:absolute;
				cursor:pointer;
				left : 90%;
				top :75%;
				display: flex;
				flex-direction: column;
				transition: left 0.4s;
				
				span
				{
					width:30px;
					padding:2px;
					padding-left: 7px;
					border:1px solid grey;
					border-radius: 3px;
					border-bottom:0px;
				}
					
				i
				{
					display:inline;
				}
				
			}	
			
		}

		.navBarRight
		{
			display: flex;
			width:100%;
			
			div
			{
				flex-grow:1;
			}
			span
			{
				cursor:pointer;
			}
			
		}

}


html, body
{
	width:100%;
	height:100%;
	
}





.configTop, .navigatorTop
{
	display:flex;
	cursor:pointer;
	

	span
	{
		padding:2px;
		border:1px solid grey;
		border-top:0px;
		border-radius: 0px 0px 0px 3px;

	}
	.indescriptionarea
		{
			border:1px solid grey;
			border-right: 0px;
		}

	.rounded
	{
		border-radius: 0px 3px 3px 0px;
		border-top : 1px solid grey;
		border-right : 1px solid grey;
		border-bottom : 1px solid grey;
		border-left : 0px;
	}
	.rounded2
	{
		border-radius: 3px 0px 0px 3px;
		border-top : 1px solid grey;
		border-left : 1px solid grey;
		border-bottom : 1px solid grey;
		border-right : 0px;
	}	
	i
	{
		display:inline;
	}
	div
	{
		flex-grow: 1;
	}
	
}


.mainContainer
{
	width:100%;
  	height:92%;
  	position:relative;
  	border-top: 1px solid grey;
}

#editorcontainer
{
  	left:25%;
  	width:75%;
  	height:100%;
  	background:blue;
  	position:absolute;
  	transition: width 0.4s, left 0.4s;
  	z-index:5;
  	.editorArea
  	{
  		
  	}

}

#configcontainer
{
  position:absolute;
  width:25%;
  height:100%;
  z-index: 3;
  background : url($background0);
  .configArea
  {
  	overflow:scroll;
  	
  }

}



#navigatorcontainer
{
  position:absolute;
  width:25%;
  height:100%;
  background:url($background0);
  z-index: 4;
  transition: left 0.4s;
  
  				.dataSourceArea
				{
					height:15%;
					background:url($background0);
					padding:  0px 0px 15px 0px;
					.btn-group
					{
						padding: 5px;
					}
				}
				.classArea
				{
					display:flex;
					flex-direction: column;
					flex-grow:1;
					background:url($background0);
					cursor : pointer;
					overflow-y:auto;
					overflow-x:hidden;
					text-indent:10px;
					padding: 0px;
					height:20%;
					.filler
					{
						flex-grow : 1;
					}
					.classItem
					{
						color:black;
					}
					.selectedItem
					{
						display:block;
						color:white;
						background:#222;
					}
				}
				.descriptionArea
				{
					display:flex;
					flex-direction: column;
					height:25%;
					background:url($background0);
					overflow-y:auto;
					overflow-x:hidden;
					padding: 15px;
					padding-right: 0px;
					.filler
					{
						flex-grow: 1 ;
					}
				}
				.propertyArea
				{
					flex-grow:1;
					height:40%;
					background:url($background0);
					overflow:scroll;
					padding: 15px;
				}
}

/* manages the slots for local storage on the config page */
.slotContainer
  	{
	  	display:flex;
	  	padding: 3px;


		span
		{
			padding:2px;
		}
		i
		{
			display:inline;
		}

		div
		{
			display:inline;
			flex-grow:1;
		}

  	}

.divider
{
	height:2px;
	width:80%;
	margin-top:25px;
	margin-bottom:25px;
	padding-left:14px;
	padding-right:14px;
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(176,166,176,1) 50%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

}

/*rotates an icon in the navbar*/
.fa-rotate-45 
{
    transform: rotate(45deg);
}



