# Dependency directories
node_modules/
webapp/
build/
app/bower_components
app/bower_components_old
app/js
media/scratch.txt
*.xml
voorstel_tutorial.txt
errors_javadoc.txt
app/.DS_Store
.DS_Store
notes_cursus_jeroen.txt
