.CodeMirror {
  font-size: 14px;
  height: 800px; }

h6 {
  color: blue; }

#mynavbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url("../media/concrete_seamless.png");
  height: 8%; }
  #mynavbar .navBarLeft {
    position: relative;
    width: 39%; }
    #mynavbar .navBarLeft .navItem {
      position: absolute;
      cursor: pointer;
      left: 90%;
      top: 75%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transition: left 0.4s;
      transition: left 0.4s; }
      #mynavbar .navBarLeft .navItem span {
        width: 30px;
        padding: 2px;
        padding-left: 7px;
        border: 1px solid grey;
        border-radius: 3px;
        border-bottom: 0px; }
      #mynavbar .navBarLeft .navItem i {
        display: inline; }
  #mynavbar .navBarRight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    #mynavbar .navBarRight div {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    #mynavbar .navBarRight span {
      cursor: pointer; }

html, body {
  width: 100%;
  height: 100%; }

.configTop, .navigatorTop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
  .configTop span, .navigatorTop span {
    padding: 2px;
    border: 1px solid grey;
    border-top: 0px;
    border-radius: 0px 0px 0px 3px; }
  .configTop .indescriptionarea, .navigatorTop .indescriptionarea {
    border: 1px solid grey;
    border-right: 0px; }
  .configTop .rounded, .navigatorTop .rounded {
    border-radius: 0px 0px 3px 0px; }
  .configTop i, .navigatorTop i {
    display: inline; }
  .configTop div, .navigatorTop div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.mainContainer {
  width: 100%;
  height: 92%;
  position: relative;
  border-top: 1px solid grey; }

#editorcontainer {
  left: 25%;
  width: 75%;
  height: 100%;
  background: blue;
  position: absolute;
  -webkit-transition: width 0.4s, left 0.4s;
  transition: width 0.4s, left 0.4s;
  z-index: 5; }

#configcontainer {
  position: absolute;
  width: 25%;
  height: 100%;
  z-index: 3;
  background: url("../media/concrete_seamless.png"); }
  #configcontainer .configArea {
    overflow: scroll; }

#navigatorcontainer {
  position: absolute;
  width: 25%;
  height: 100%;
  background: url("../media/concrete_seamless.png");
  z-index: 4;
  -webkit-transition: left 0.4s;
  transition: left 0.4s; }
  #navigatorcontainer .dataSourceArea {
    height: 15%;
    background: url("../media/concrete_seamless.png");
    padding: 0px 0px 15px 0px; }
    #navigatorcontainer .dataSourceArea .btn-group {
      padding: 5px; }
  #navigatorcontainer .classArea {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background: url("../media/concrete_seamless.png");
    cursor: pointer;
    overflow-y: hidden;
    overflow-x: hidden;
    text-indent: 10px;
    padding: 0px;
    height: 20%; }
    #navigatorcontainer .classArea .filler {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    #navigatorcontainer .classArea .classItem {
      color: black; }
    #navigatorcontainer .classArea .selectedItem {
      display: block;
      color: white;
      background: #222; }
  #navigatorcontainer .descriptionArea {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 25%;
    background: url("../media/concrete_seamless.png");
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    padding-right: 0px; }
    #navigatorcontainer .descriptionArea .filler {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
  #navigatorcontainer .propertyArea {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 40%;
    background: url("../media/concrete_seamless.png");
    overflow: scroll;
    padding: 15px; }

/* manages the slots for local storage on the config page */
.slotContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3px; }
  .slotContainer span {
    padding: 2px; }
  .slotContainer i {
    display: inline; }
  .slotContainer div {
    display: inline;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.divider {
  height: 2px;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 14px;
  padding-right: 14px;
  background: -webkit-linear-gradient(315deg, white 0%, #b0a6b0 50%, white 100%);
  background: linear-gradient(135deg, white 0%, #b0a6b0 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); }

/*rotates an icon in the navbar*/
.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
