html, body
{
	width:100%;
	height:100%;

	font-family:$mainwindowfont;
}

body
{
	overflow:hidden;
}

input:focus, select:focus, textarea:focus, form:focus, button:focus
{
	outline:0;
}

input:active, select:active, textarea:active, form:active, button:active
{
	outline:0;
}

.popover-content
{
	background:url($background3);
	color:white;
	padding:3px;
	border:0.5px solid white;
	border-radius:5px;
}

.arrow:after
{
	display:none;
}



.mymodal .modal-dialog
{
		  
  width:90%;
  height:500px;
  padding:0px;
  
}
.modal-backdrop{display:none;}
.modal-content{border:0px;}
.modal-body{overflow-x:scroll;}

.itemactive
	{
		background:$corkColor2;
		color:white;
	}
	.itemnotactive
	{
		background:darken($corkColor2, 5%);
		color:darken(white,50%);
	}


.configTop, .navigatorTop
{
	display:flex;
	cursor:pointer;
	width:100%;
	justify-content:space-around;
	div
	{
		width:50%;
		text-align:center;
		background:$corkColor2;
	}
	.itemactive
	{
		background:$corkColor2;
		color:white;
	}
	.itemnotactive
	{
		background:darken($corkColor2, 5%);
		color:darken(white,50%);
	}
	.taglibrary
	{

	}
	.filebrowser
	{

	}
	
	.itemnotactive:hover
	{
		background: lighten($corkColor2, 15%);
		color:darken(white,20%);
		transform:scale(1.05);
	}
}

.mainContainer
{
	width:100%;
  	height:91%;
  	position:relative;
  	strong
  	{
  		font-family:$navigatorheaders;
  	}
}

.filler
{
	flex-grow:1;
}

.modal-footer
{
	border-top: 0px;
}
.modal-body
{
	h4
	{
		text-align:center;
	}
	p
	{
		font-style : italic;
		color : grey;
	}
}

#zipfromfile, #mergefromfile
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn {
    margin-right: 8px;
}

.glyphicon
{
    font-size:17px;
    color:#555555;
}