<div class="configTop" >
	<div class="filler"></div> <strong>ConfigArea</strong><div class="filler"></div>   
	<span  ng-click="vm.showConf()" >
         <i  class="fa fa-minus "></i>
    </span>
</div>
<div class="configArea">

	<ul>
		<li>Local Storage Slots</li>
		<li>IAF url</li>
		<li>font size</li>
		<li>colors</li>
		<li>default property values</li>
	</ul>
</div>
<div ng-include ="'./views/storageSlot.html'"></div>
<br>

<label>Editor theme : <select ng-model="vm.selectedTheme" ng-options="theme for theme in vm.themes" ng-change="vm.changeTheme()"></select></label>

<br>

<label>Font Size : <select ng-model="vm.selectedFontSize" ng-options="fontsize for fontsize in vm.fontSizes" ng-change="vm.changeFontSize()"></select></label>
