<div class="configTop" >
	<div class="filler"></div> <strong>ConfigArea</strong><div class="filler"></div>   
	<span  ng-click="vm.showConf()" >
         <i  class="fa fa-minus "></i>
    </span>
</div>

<div class="divider"></div>
<div ng-include ="'./views/storageSlot.html'"></div>

<div class="divider"></div>

<div class="navigatorTop">
    <span  style="position:absolute;border: 0px;">
                    <i class="fa fa-edit"></i>
    </span>
    <div></div><strong>Editor</strong><div></div>    
    
 </div>  
 <br>
<label>Editor theme : <select ng-model="vm.selectedTheme" ng-options="theme for theme in vm.themes" ng-change="vm.changeTheme()"></select></label>

<br>

<label>Font Size : <select ng-model="vm.selectedFontSize" ng-options="fontsize for fontsize in vm.fontSizes" ng-change="vm.changeFontSize()"></select></label>

<div class="divider"></div>
<div ng-include="'./views/authentication.html'"></div> 

<div class="divider"></div>

<div ng-show = "vm.availableLessons.length === 0 ">No lessons available</div>

<div ng-repeat = "item in vm.availableLessons">
	<h6 ng-click = "vm.setAvailableLesson(item.url)">{{item.classname}}	</h6>
</div>


