
        
        	<div  id="mynavbar">
                <div class="navBarLeft">
                        <img src="../media/ip-logo.png" class="iplogo" id="iplogo"  />
                    <div id = "navItem" class="navItem" >
                        <div></div>
                        <span  id = "rightspan" ng-click="vm.showNav()" >
                        <i  id="picture" class="fa fa-toggle-left fa-toggle-right"></i>
                        </span>
                    </div>
                </div>

                <div class = "navBarRight" >
                    <span  ng-click="vm.submitForm()" class="mybutton">
                        <i class="fa fa-rotate-45 fa-arrow-circle-right fa-3x "></i>
                    </span>

                    <div ></div>

                    <!-- <a ng-show="vm.availableLessons.length > 0" ui-sref="app.courseinfo">
                    <span ng-click="angular.noop()" class="fa-stack fa-2x ">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa  fa-info fa-stack-1x " ></i>
                    </span>
                    </a>    -->                 


                    <a style="text-decoration: none;" class=mybutton " ui-sref="app.moderator">
                    <span ng-click="angular.noop()" >
                        <i class="fa  fa-wrench fa-2x" ></i>
                    </span>
                    </a>


                    <span ng-click="vm.validateXml() ;" class="mybutton">
                        <i class="fa  fa-check  fa-2x "></i>
                    </span>

                    <span ng-click="vm.clearEditor()" class="mybutton">
                        <i class="fa  fa-eraser fa-2x "></i>
                    </span>

                    <span ng-click="vm.styleEditorContent()" class="mybutton">
                        <i class="fa fa-align-left fa-2x"></i>
                    </span>

                    <span ng-click="vm.sendToIaf()" class="mybutton">
                        <i class="fa fa-send fa-2x"></i>
                    </span>

                </div>
            </div>

<div class="mainContainer">
    <div id="navigatorcontainer">
         <div class="dataSourceArea" ng-include="'./views/dataSourceArea.html'"></div>
         <div class="classArea" style="direction:rtl;" ng-include="'./views/classArea.html'"></div>
         <div class="descriptionArea" ng-include="'./views/descriptionArea.html'"></div>
         <div class="propertyArea" ng-include="'./views/propertyArea.html'"></div>
    </div>
    
    <div id="configcontainer">
        <div  ng-include="'./views/configArea.html'"></div>
    </div>

    <div id = "editorcontainer">
        <div class = "editorArea" ui-codemirror="{ onLoad : vm.codemirrorLoaded }"></div>
        <span class="lockicon" ng-click="vm.unlock()" ng-show = "vm.theslots[vm.currentSlotNumber-1].locked">
            <i class="fa fa-lock fa-4x"></i>
        </span>
    </div>
</div>

