
        
        	<div  id="mynavbar">
                <div class="navBarLeft">
                    
                  
                    <div id = "navItem" class="navItem" >
                        <div></div>
                        <span  id = "rightspan" ng-click="vm.showNav()" >
                        <i  id="picture" class="fa fa-toggle-left fa-toggle-right"></i>
                        </span>
                    </div>
                </div>

                <div class = "navBarRight" >
                    <span  ng-click="vm.submitForm()" class="fa-stack fa-2x myspan">
                        <i class="fa fa-square-o fa-stack-2x outer"></i>
                        <i class="fa fa-rotate-45 fa-arrow-circle-right fa-stack-1x inner "></i>
                    </span>

                    <div ></div>

                    <span ng-click="vm.validateXml() ; vm.showValidationMessage = true;" class="fa-stack fa-2x ">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa  fa-stack-1x ">val</i>
                    </span>

                    <span ng-click="vm.postSnippet() ;" class="fa-stack fa-2x ">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa  fa-check  fa-stack-1x "></i>
                    </span>

                    <span ng-click="vm.clearEditor()" class="fa-stack fa-2x ">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa  fa-eraser  fa-stack-1x "></i>
                    </span>

                    <span ng-click="vm.styleEditorContent()" class="fa-stack fa-2x ">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-align-left fa-stack-1x "></i>
                    </span>

                    <span ng-click="vm.sendToIaf()" class="fa-stack fa-2x ">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-send fa-stack-1x "></i>
                    </span>

                </div>
            </div>

<div class="mainContainer">
    <div id="navigatorcontainer">
         <div class="dataSourceArea" ng-include="'./views/dataSourceArea.html'"></div>
         <div class="classArea" ng-include="'./views/classArea.html'"></div>
         <div class="descriptionArea" ng-include="'./views/descriptionArea.html'"></div>
         <div class="propertyArea" ng-include="'./views/propertyArea.html'"></div>
    </div>
    
    <div id="configcontainer">
        <div  ng-include="'./views/configArea.html'"></div>
    </div>

    <div id = "editorcontainer">
        <div class = "editorArea" ui-codemirror="{ onLoad : vm.codemirrorLoaded }"></div>
    </div>
</div>

