
<div class="mainContainer">




<div class="navigatorWindow"> 

<div class="dataSourceArea" ng-include="'./views/dataSourceArea.html'"></div>
<div class="classArea" ng-include="'./views/classArea.html'"></div>
<div class="descriptionArea" ng-include="'./views/descriptionArea.html'"></div>
<div class="propertyArea" ng-include="'./views/propertyArea.html'"></div>

	
</div>


<div class="editorWindow">
	<div style="display:flex;">
	<h6>{{vm.message}}</h6>
	<div style="flex-grow: 1"></div>
	<button ng-click = "vm.loadXml()">Load Xml</button>
	<button ng-click = "vm.clearEditor()">Clear</button>
	<button ng-click = "vm.styleEditorContent()">Format XML</button>
	<form ng-submit="vm.submitForm()">
		<input type="text" ng-model="vm.userInput">
	    <button type="submit">Add Tag</button>
	</form>
	</div>
	<br><br><br>

	<div ui-codemirror="{ onLoad : vm.codemirrorLoaded }" ></div>

</div>
</div>
