<h3>Storage Slots</h3>

<div class="slotContainer">
	<span>1.</span>	
	<input type="text" id="slot1" ng-model = "vm.thealiases[0]" ng-change="vm.modifyAlias('aliasslot1',vm.thealiases[0])">
	
	<span  ng-click="vm.toggleSlot(vm.theslots[0])" >
	         <i  class="fa" ng-class="{'fa-folder-open':vm.currentSlot === vm.theslots[0], 'fa-folder' : vm.currentSlot !== vm.theslots[0]}"></i>
	</span>
	<div></div>
	<span  ng-click="angular.noop()" >
	         <i  class="fa fa-close "></i>
	</span>
</div>

<div class="slotContainer">
	<span>2.</span>	
	<input type="text" id="slot2" ng-model = "vm.thealiases[1]" ng-change="vm.modifyAlias('aliasslot2',vm.thealiases[1])">
	
	<span  ng-click="vm.toggleSlot(vm.theslots[1])" >
	         <i  class="fa" ng-class="{'fa-folder-open':vm.currentSlot === vm.theslots[1], 'fa-folder' : vm.currentSlot !== vm.theslots[1]}"></i>
	</span>
	<div></div>
	<span  ng-click="angular.noop()" >
	         <i  class="fa fa-close "></i>
	</span>
</div>

<div class="slotContainer">
	<span>3.</span>	
	<input type="text" id="slot3" ng-model = "vm.thealiases[2]" ng-change="vm.modifyAlias('aliasslot3',vm.thealiases[2])">
	
	<span  ng-click="vm.toggleSlot(vm.theslots[2])" >
	         <i  class="fa" ng-class="{'fa-folder-open':vm.currentSlot === vm.theslots[2], 'fa-folder' : vm.currentSlot !== vm.theslots[2]}"></i>
	</span>
	<div></div>
	<span  ng-click="angular.noop()" >
	         <i  class="fa fa-close "></i>
	</span>
</div>

<div class="slotContainer">
	<span>4.</span>	
	<input type="text" id="slot4" readonly="true" ng-value = "vm.theslots[3]">
	
	<span  ng-click="vm.toggleSlot(vm.theslots[3])" >
	         <i  class="fa" ng-class="{'fa-folder-open':vm.currentSlot === vm.theslots[3], 'fa-folder' : vm.currentSlot !== vm.theslots[3]}"></i>
	</span>
	<div></div>
	<span  ng-click="angular.noop()" >
	         <i  class="fa fa-close "></i>
	</span>
</div>
