<div class="navigatorTop">
    <span  style="position:absolute;border: 0px;">
                    <i class="fa fa-edit"></i>
    </span>
    <div></div><strong>Editor</strong><div></div>    
    
 </div>  
 <br>
<label>Editor theme : <select ng-model="vm.selectedTheme" ng-options="theme for theme in vm.themes" ng-change="vm.changeTheme()"></select></label>

<br>

<label>Font Size : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select ng-model="vm.selectedFontSize" ng-options="fontsize for fontsize in vm.fontSizes" ng-change="vm.changeFontSize()"></select></label>

<div class="divider"></div>