<!-- <link href="css/mystyle.css" rel="stylesheet" ng-disabled = "vm.selectedTheme === 'monokai' ">
<link href="css/mystyle_monokai.css" rel="stylesheet" ng-disabled = "vm.selectedTheme === 'twilight'"> -->
<div style="height: 100%; width:100%;">       
            <div  class="mynavbar">
                <div class="navbarupper">
                    <img src="./media/ibis3_black.svg" class="iplogo" id="iplogo"  />
                    <h5 id="mytitle" class="navHeading"><a ui-sref="app">user management</a></h5>
                    <span ng-show = "vm.showSpinner" style="color:grey;">
                        <i   class="fa fa-spinner fa-spin fa-2x fa-fw "></i>
                    </span>
                <div class="filler"></div>
                <span class="loginText" ng-show = "vm.user !== null ">{{vm6.user.firstname}}</span>
                </div>
                <div class="navbarlower">
                    
                    
                       <div class="filler"></div>
                       <span class="mybutton"  ui-sref="app.moderator">tags</span>
                       <span class="mybutton" >save all</span>
                       
                       <div id="sendstatus"></div>
                </div>
            </div>

<div class="contentContainer">


        <table class="table  mytable">
            <thead>
                <tr>
                    <th class="col-xs-2">Email</th>
                    <th class="col-xs-2">Role</th>
                    <th class="col-xs-2">First Name</th>
                    <th class="col-xs-2">Last Name</th>
                    <th class="col-xs-2">Instance</th>
                    <th class="col-xs-1">Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm6.theusers">
                    <td><input class="form-control " type="text" value="{{item.email}}" ng-model="item.email"
                     ng-change="item.showIcon=true;"></td>
                     
                     <td>
                        <div id="centerthiscolumn" class="input-group" style="padding:0px">
                            <label class="radio-inline">
                                <input type="radio" ng-checked="item.role==='admin'"
                                ng-click="item.showIcon=true;vm6.setRole($index,'admin')"> admin
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-checked="item.role==='user'"
                                ng-click="item.showIcon=true;vm6.setRole($index,'role')"> user
                            </label>
                            
                        </div>
                    </td>
                    
                    <td><input class="form-control " type="text" value="{{item.name}}" ng-model="item.name"
                     ng-change="item.showIcon=true;"></td>
                    <td><input class="form-control " type="text" value="{{item.lastname}}" ng-model="item.lastname"
                     ng-change="item.showIcon=true;"></td>
                    
                    <td class="centeralso"><span>{{item.instancename}}</span></td>



     
                     <td>
                        <div class="userbuttons" >
                            <a   ng-click="showIcon=false;vm6.saveItem($index)">
                                <span class=" icons"><i class="fa fa-save"></i></span>
                            </a>
                            <span id="exclamationMark{{$index}}" ng-model="item.showIcon" class="fa fa-exclamation" ng-show="item.showIcon"></span>
                            <a  ng-click="vm6.deleteUser($index)">
                                <span class="icons"><i class="fa fa-remove"></i></span>
                            </a>
                            <a  ng-click="vm6.sendMail($index)">
                                <span class="icons" ><i class="fa fa-envelope"></i></span>
                            </a>
                        </div>
                    </td>
                </tr>
                    </tbody>
                </table>
            </div>

</div>